<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<header class="index-header">
    <h1 class="websit-name">杜晓卿的个人博客</h1>
    <div class="user-wrapper">
        <img src="" alt="">
        <span>用户xxx</span>
    </div>
</header>
<section class="index-body">
    <div class="right-section">
    </div>
    <div class="left-section">
        <div class="register-box">
            <h1 class="box-title">注册</h1>
            <div class="form-row">
                <label for="username">用户名：</label>
                <input type="text" name="username" id="username"/>
            </div>

            <div class="form-row">
                <label for="password">密码：</label>
                <input type="password" name="password" id="password"/>
            </div>

            <div class="form-row">
                <label for="repassword">重复密码：</label>
                <input type="password" name="password" id="repassword"/>
            </div>

            <button class="register-btn">注册</button>

            <div class="message-toast"></div>
        </div>

        <div class="login-box">
            <h1 class="box-title">登陆</h1>
            <div class="form-row">
                <label for="login-username">用户名：</label>
                <input type="text" name="username" id="login-username"/>
            </div>

            <div class="form-row">
                <label for="login-password">密码：</label>
                <input type="password" name="password" id="login-password"/>
            </div>

            <button class="register-btn">登陆</button>
        </div>

    </div>
</section>


<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/js/index.js"></script>
</body>
</html>